{% extends 'base.html' %}

{% block title %}Login Page{% endblock %}

{% block content %}
        <h1>Login Page</h1>
        <form method='post' action='/login' >

            <label for='username'> UserName : </label>
         
            <input type='text' name='username' id='username' required><br>
            <label for='password' style="inline-block;width:82px;margin-top:10px;">Password  : </label>
            <input type='password' name='password' id='password' required><br>
            <input type='submit' value='Login' style="margin:20px;">
        </form>
    <p> No Account? <a href='/register' style="text-decoration:none;color:white;background-color:#007BFF; border-radius:2px;padding:6px;">Register Here Please </a></p>
    </div>
{% endblock %}