{% extends 'base.html' %}

{% block title %}Register Page{% endblock %}

{% block content %}
        <h2 style="margin:1px;">  Register Page </h2>
       
        <form method='post' action='/register'>
            <label for='username' style="margin:10px">Username: </label>
            <input type='text' name='username' id='username' required><br>
            <label for='email' style="inline-block;width:74px;margin:10px;">Email: </label>
            <input type='email' name='email' id='email' required><br>
            <label for='password'  style="margin:10px">Password : </label>
            <input type='password' name='password' id='password' required><br>

            <input type='submit' value='Register'  style="margin:10px">
        </form>
        <p> Already have account? <a href='/login'  style="background-color:#e0f0ff;text-decoration:none;color:black;font-weight:bold;">Login Here </a></p>
{% endblock %}